dd {
  margin-left: 0;
}

.Pet {
  padding: 15px;
}

.Pet__name {
  text-align: center;
}

.Pet__image {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

.Pet__info--row {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  border-bottom: 1px solid #ebebeb;
  margin: 0 20px;
  padding: 1ex 0;
}

.Pet__info--row:last-child {
  border-bottom: none;
}

.Pet__info--category {
  flex-basis: 25%;
}

.Pet__adoptButton {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 4px;
  background: #3a3a3a;
  color: white;
  font-size: inherit;
}

.Pet__adoptButton:hover {
  background: #616161;
  cursor: pointer;
}
