dd {
  margin-left: 0;
}

.Pet {
  padding: 15px;
}

.Pet__name {
  text-align: center;
}

.Pet__image {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

.Pet__info {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 20px;
  padding: 1ex 0;
  width: 100%;
}

.Pet__info--row:last-child {
  border-bottom: none;
}

.Pet__info--category,
.Pet__info--data {
  border-bottom: 1px solid #dddddd;
  padding: 1ex 0;
}

.Pet__info--category:last-of-type,
.Pet__info--data:last-of-type {
  border-bottom: none;
}

.Pet__info--category {
  width: 25%;
}

.Pet__info--data {
  width: 75%;
  margin-left: auto;
}

.Pet__adoptButton {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 4px;
  background: #3a3a3a;
  color: white;
  font-size: inherit;
}

.Pet__adoptButton:hover {
  background: #616161;
  cursor: pointer;
}

.Pet__empty-pet {
  display: block;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .Pet__empty-pet {
    position: relative;
    top: 200px;
  }
}
